database_url: "{{ vless_config_generator_api_database_url }}"
redis_url: "{{ vless_config_generator_api_redis_url }}"
cache_ttl: {{ vless_config_generator_api_cache_ttl }}

vless_server: "{{ vless_config_generator_vless_server }}"
vless_server_port: {{ vless_config_generator_vless_server_port }}
vless_public_key: "{{ infisical_secrets.secrets['vless-public-key'] }}"
vless_short_id: "{{ infisical_secrets.secrets['vless-sid'] }}"
vless_server_name: "{{ vless_config_generator_vless_server_name }}"

github_token: "{{ infisical_secrets.secrets['vless-config-generator-github-token'] }}"
github_repo: "{{ vless_config_generator_github_repo }}"
github_workflow_file: "{{ vless_config_generator_github_workflow_file }}"
github_remove_workflow_file: "{{ vless_config_generator_github_remove_workflow_file }}"
github_update_workflow_file: "{{ vless_config_generator_github_update_workflow_file }}"

session_secret_key: "{{ infisical_secrets.secrets['vless-config-generator-session-secret'] }}"
admin_username: "{{ infisical_secrets.secrets['vless-config-generator-admin-username'] }}"
admin_password: "{{ infisical_secrets.secrets['vless-config-generator-admin-password'] }}"
cookie_secure: true
